@use 'variables' as v;
@use 'mixins' as m;
@use 'placeholders' ;
@use 'sass:color';

.header{
    width: 100%;
    height: 50px;
    background-color: color.adjust(v.$color_white, $alpha:-0.85);
    border: {
        bottom:{
            width: 1px;
            style: solid;
            color: v.$color_white;
        }
    }

    .nav{
        height: 50px;
        @include m.d-flex(start,start);

        &__title{
            height: 100%;
            width: 255px;
            border-right: 1px solid v.$color_white;
            @include m.d-flex(center,center);

            &-link{
                font-size: 25px;
                font-weight: 700;
                color: v.$color_white;

                span{
                    font-family: 700;
                }

                @extend %hover-black;
            }
        }

    }
}