@use 'variables' as v;

%hover-black{
    &:hover{
        cursor: pointer;
        color: v.$color_black;
    }
}

%hover-black-item{
    &:hover{
        cursor: pointer;
        fill: v.$color_black;
    }
}